    .task__day {
        box-sizing: border-box;
        width: 20px;
        height: 20px;
    }

    .task__day:hover {
        border: solid 1px #343d46;
    }

    .empty {
        border: solid 1px #343d46;
    }

    .fill {
        background-color: #343d46;
    }

    .arrow {
        border: solid 1px #343d46;

    }

    .icon {
        margin-top: auto;
    }

    .task {
        display: grid;
        grid-template-columns: 140px 1fr;
        column-gap: 60px;
    }

    .task_finished {
        text-decoration: line-through;
        color: #4f5b66;
        border-color: #4f5b66;
    }

    .fill.task_finished {
        background-color: #4f5b66;
    }

    /* .top {
        border-bottom: none;
        border-top: solid 1px black;
    } */

    .top::before {
        content: "";
        width: 250px;
        border-top: 3px solid #00ff00;
    }

    .bot {
        border-top: none;
        border-bottom: solid 1px black;
    }

    .task__text {
        box-sizing: border-box;
        text-align: left;
        font-size: 13px;
        line-height: 20px;
        height: 20px;
    }

    .week {
        display: grid;
        grid-template-columns: 140px 1fr;
        column-gap: 60px;
        margin-bottom: 20px;
    }

    .week__days {
        font-size: 13px;
    }

    .week__day {
        margin-top: auto;
        width: 20px;
        height: 20px;
    }

    .week__header {
        font-size: 15px;
        text-align: left;
    }

    .task__days {
        display: flex;
    }

    .week__days {
        display: flex;
    }