.icon {
    /* margin: auto 4px auto 4px;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: solid 1px #343d46; */
    margin: 0 auto;
}

.list__point,
.list__add {
    text-align: left;
    font-size: 13px;
    line-height: 20px;
}

.list__header {
    font-size: 15px;
    text-align: left;
}

.list__header {
    margin-bottom: 20px;
}

.list__content {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px; */
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    position: relative;
}

.list__ul {
    list-style: none;
    border-right: solid 0.5px #4f5b66;
}

.list__ul:last-of-type {
    border: none;
}



.list__ul:first-child li .list__add_icon,
.list__ul:first-child li .list__point_square {
    margin-left: 0;
}

.task_finished {
    text-decoration: line-through;
    color: #4f5b66;
}

.list__add_icon {
    margin: auto 4px auto 4px;
}

.list__add {
    display: flex;
    list-style: none;
    height: 20px;
    color: #c0c5ce;
    vertical-align: baseline;
}

.list__add:hover {
    color: #4f5b66;
}

.list__point {
    display: flex;
}

.list__point_square {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 4px auto 4px;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: solid 1px #343d46;
}

.list__input {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    background-color: #c0c5ce;
    border: none;
    border-bottom: solid 1px #4f5b66;
    color: #4f5b66;
}

.list__input:focus {
    outline: none;
}

.list__blank {
    width: 100px;
    height: 20px;
}