#root {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}



.task__day {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  /* border-top: solid 0.5px #4f5b66; */
}

/* .task:last-child .task__days .task__day {
  border-bottom: solid 0.5px #4f5b66;
} */

/* .task__days:last-child .task__day {
  border-bottom: solid 0.5px #4f5b66;
} */

.task__day:hover {
  border: solid 1px #343d46;
}

.empty {
  border: solid 1px #343d46;
}

.fill {
  background-color: #343d46;
}

.arrow {
  border: solid 1px #343d46;

}

.icon {
  margin-top: auto;
}

.task {
  display: grid;
  grid-template-columns: 140px 1fr;
  column-gap: 60px;
}

.task__text,
.list__point,
.list__add {
  text-align: left;
  font-size: 13px;
  line-height: 20px;
}

.week {
  display: grid;
  grid-template-columns: 140px 1fr;
  column-gap: 60px;
  margin-bottom: 20px;
}

.week__days {
  font-size: 13px;
}

.week__day {
  margin-top: auto;
  width: 20px;
  height: 20px;
}

.week__header,
.list__header {
  font-size: 15px;
  text-align: left;
}

.list__header {
  margin-bottom: 20px;
}

.task__days {
  display: flex;
}

.week__days {
  display: flex;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.list__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.list__ul {
  list-style: none;
  border-right: solid 0.5px #4f5b66;
}

.list__ul:last-child {
  border: none;
}

.list__add {
  display: flex;
  list-style: none;
  height: 20px;
  color: #c0c5ce;
  vertical-align: baseline;
}

.list__add_icon {
  margin: auto 4px auto 0;
}

.list__add:hover {
  color: #4f5b66;
}

.list__point {
  display: flex;
}

.list__point_square {
  margin: auto 4px auto 0;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: solid 1px #343d46;
}